<link rel="stylesheet" href="/css/comment.css">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{post.title}}</h1>
    <p class="lead">{{post.content}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
            <textarea id="textbody" placeholder="Tell us what you think..."></textarea>
            <button type="submit" id="comment-submit" class="btn btn-success green"><i
                class="fa fa-share"
              ></i>
              Share</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>