<form>
  <div class="form-group">
    <label for="title-update">Post Title:</label>
    <input type="text" class="form-control" id="title-update" placeholder="Post Title">
  </div>
  <div class="form-group">
    <label for="content-update">Post Body:</label>
    <input type="text" class="form-control" id="content-update" placeholder="Post Body">
  </div>
  <button id="editsubmitbutton" class="text-center my-1 btn-primary">Submit</button>
</form>